body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 10pt;
}

article h1{
    font-size: 15pt;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.274);
    padding: 5px;
    margin: 0px;
}

article h2{
    font-size: 13pt;
    color: #888888;
    margin: 0px;
}

article{
    margin-bottom: 800px;
}

img.dir{
    display: block;
    float: right;
    margin-left: 5px;
    top: 20pt;
}